body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100wh;
    background: rgb(254, 255, 223);
    background: linear-gradient(90deg, rgb(221, 224, 171), rgb(151, 203, 169), rgb(102, 139, 164));
  }
  
  .contenant {
    display: grid;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    margin: 5%;
  }
  
  #logo{
      grid-area: a;
      display: flex;
  }
  
  #imgLogo{
      justify-content: flex-start;
  }
  
  #mosaique{
      grid-area: b;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
  }
  
  #ligne1, #ligne2, #ligne3, #ligne4{
      grid-area: b;
      display: flex;
      gap: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 50vw;
      height: 20vh;
      justify-content: center;
  }
  
  img[alt="Photo de la mosaique"]:hover{
      transform: rotate(360deg);
      transition: 0.5s;
  }
  
  img[alt="Photo de la mosaique"]{
      border: 2px dotted hotpink;
      border-radius: 10%;
  }
  
  #box{
      grid-area: c;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
  }
  
  #github{
      grid-area: d;
      display: flex;
      justify-content: center;
      align-items: center;
  }  